<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Forms App</title>
</head>
<script src="https://unpkg.com/vue@next"></script>

<body>
<div id="app">
    <h1>Hello Vue Forms</h1>
    <label for="name">Enter name:</label>
    <input v-model="name" id="name">

    <p v-if="name">
        Your name is {{name}}</p>
    <button v-on=click='clear'>Clear input</button>


</div>

<script>
    let app = Vue.createApp({
        data() {
            return {
                name: ''
            }
        }

    })
    app.mount('#app')
</script>

</body>
</html>